@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    margin: 0;
    padding: 12px 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.logo {
    flex-shrink: 0;
    font-size: 24px;
    color: #F9FAF8;
}

.right-links, a {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 36px;
}

.content {
    display: flex;
    flex-basis: 800px;
    align-items: center;
}

.content.one {
    background-color: #1F2937;
    margin: 0;
    padding: 60px 84px;
    color: #E5E7EB;
    gap: 48px;
}

.left-column {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    margin-right: auto;
    flex-basis: 500px;
    gap: 24px;
}

#title {
    font-weight: bold;
    font-size: 4em;
}

#sub-title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
}

.content.two {
    flex-direction: column;
    background-color: white;
    text-align: center;
    margin: 48px;
    gap: 48px;
}

.card {
    border: solid 3px #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin-bottom: 12px;
}

.card-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
}

.card-section #sub-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
    width: 150px;
}

.content.three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 15vh 50vh;
    gap: 24px;
}

.content.three div{
    font-size: 1.5em;
    font-style: italic;
    color: #292d33;
}

.content.four {
    display: flex;
    justify-content: center;
}

.content.four .call-to-action {
    display: flex;
    align-items: center;
    background-color: #1770ff;
    color: white;
    padding: 24px 10vw;
    gap: 10vw;
    margin: 60px;
    border-radius: 30px;
}

.action-button button{
    border: solid white;
    background-color: #1770ff;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    font-size: small;
    padding: 24px;
    color: #E5E7EB;
}

h3, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border-radius: 30px;
    max-width: 100%;
    min-width: 400px;
    height: auto;
}

button {
    border-radius: 30px;
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.2s;
}

button:hover {
    background-color: white;
    color: #3882F6;
}